@model LaptopCenter.DTO.ProductsDTO
@{
    ViewData["Title"] = "Product Detail";
}

<!-- Product:Start -->
<div class="container product-container mt-5">
    <div class="row">
        @if (ViewBag.Product != null )
        {
            <div class="col-md-4 col-12 product-left">
                <div class="product-image">
                    <img src="~/img/products/@ViewBag.Product.ProductImage" alt="Podcast Title">
                </div>           
            </div>
            <div class="col-md-8 col-12 product-right ps-md-5">
                <div class="postcard__text">
                    <div class="laptop-details">
                        <span class="laptop_name">
                            @ViewBag.Product.ProductName
                        </span>
                        <p>@ViewBag.Product.ShortDescription</p>
                    </div>

                    <div class="postcard__subtitle small color-price">
                        <span class="laptop_price">
                            Buy now at price:
                        </span>
                        <div class="price ms-3">
                            <span class="price_num" id="numberPrice">@ViewBag.Product.Price</span>
                            <span class="price_letter" id="letterPrice">Nine dollar only</span>
                        </div>
                    </div>
                    <div class="warpper">
                        <input class="radio" id="one" name="group" type="radio" checked>
                        <input class="radio" id="two" name="group" type="radio">
                        <input class="radio" id="three" name="group" type="radio">
                        <div class="tabs">
                            <label class="tab" id="one-tab" for="one">Description</label>
                            <label class="tab" id="two-tab" for="two">Specifications</label>
                            <label class="tab" id="three-tab" for="three">Policies</label>
                        </div>
                        <div class="panels">
                            <div class="panel" id="one-panel">
                                <div class="panel-title mb-3">Detail Description</div>
                                <p>@ViewBag.Product.DetailDescription</p>
                            </div>
                            <div class="panel" id="two-panel">
                                <div class="panel-title mb-3">Highlighted Specifications</div>
                                <div class="row">
                                    <div class="col-8 specifications">
                                        <span>CPU</span>
                                        <p>@ViewBag.Product.CPU</p>
                                    </div>
                                    <div class="col-4 specifications">
                                        <div class="evaluate_start">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    </div>

                                    <div class="col-8 specifications">
                                        <span>RAM</span>
                                        <p>@ViewBag.Product.RAM</p>
                                    </div>
                                    <div class="col-4 specifications">
                                        <div class="evaluate_start">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    </div>

                                    <div class="col-8 specifications">
                                        <span>Graphic Card</span>
                                        <p>@ViewBag.Product.GraphicsCard</p>
                                    </div>
                                    <div class="col-4 specifications">
                                        <div class="evaluate_start">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    </div>

                                    <div class="col-8 specifications">
                                        <span>ScreenSize</span>
                                        <p>@ViewBag.Product.ScreenSize</p>
                                    </div>
                                    <div class="col-4 specifications">
                                        <div class="evaluate_start">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" id="three-panel">
                                <div class="panel-title mb-3">Product Policies</div>
                                <div class="row">
                                    <div class="col-6 d-flex policies">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icons" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M14.94 19.5L12 17.77L9.06 19.5l.78-3.34l-2.59-2.24l3.41-.29L12 10.5l1.34 3.13l3.41.29l-2.59 2.24M20 2H4v2l4.86 3.64a8 8 0 1 0 6.28 0L20 4m-2 11a6 6 0 1 1-7.18-5.88a5.9 5.9 0 0 1 2.36 0A6 6 0 0 1 18 15m-5.37-8h-1.26l-4-3h9.34Z" /></svg>
                                        <p>Genuine product</p>
                                    </div>
                                    <div class="col-6 d-flex policies">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icons" width="1em" height="1em" viewBox="0 0 20 20"><path fill="currentColor" d="M13.854 7.854a.5.5 0 0 0-.708-.708L9.5 10.793L7.854 9.146a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0zm-3.577-5.77a.5.5 0 0 0-.554 0a15.05 15.05 0 0 1-6.294 2.421A.5.5 0 0 0 3 5v4.5c0 3.891 2.307 6.73 6.82 8.467a.5.5 0 0 0 .36 0C14.693 16.23 17 13.39 17 9.5V5a.5.5 0 0 0-.43-.495a15.05 15.05 0 0 1-6.293-2.421M4 5.428a16 16 0 0 0 5.6-2.082l.4-.249l.4.249A16 16 0 0 0 16 5.428V9.5c0 3.392-1.968 5.863-6 7.463c-4.032-1.6-6-4.07-6-7.463z" /></svg>
                                        <p>Warranty (months):</p>
                                    </div>
                                    <div class="col-6 d-flex policies">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icons" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"><path stroke-linejoin="round" stroke-miterlimit="1.5" d="M8 19a2 2 0 1 0 0-4a2 2 0 0 0 0 4m10 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /><path d="M10.05 17H15V6.6a.6.6 0 0 0-.6-.6H1m4.65 11H3.6a.6.6 0 0 1-.6-.6v-4.9" /><path stroke-linejoin="round" d="M2 9h4" /><path d="M15 9h5.61a.6.6 0 0 1 .548.356l1.79 4.028a.6.6 0 0 1 .052.243V16.4a.6.6 0 0 1-.6.6h-1.9M15 17h1" /></g></svg>
                                        <p>Free delivery within 90 minutes</p>
                                    </div>
                                    <div class="col-6 d-flex policies">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icons" width="1em" height="1em" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4"><path d="M18.284 43.171a20 20 0 0 1-8.696-5.304a6 6 0 0 0-5.182-9.838A20 20 0 0 1 4 24c0-2.09.32-4.106.916-6H5a6 6 0 0 0 5.385-8.65a20 20 0 0 1 8.267-4.627A6 6 0 0 0 24 8a6 6 0 0 0 5.348-3.277a20 20 0 0 1 8.267 4.627A6 6 0 0 0 43.084 18A20 20 0 0 1 44 24c0 1.38-.14 2.728-.406 4.03a6 6 0 0 0-5.182 9.838a20 20 0 0 1-8.696 5.303a6.003 6.003 0 0 0-11.432 0Z" /><path d="M24 31a7 7 0 1 0 0-14a7 7 0 0 0 0 14Z" /></g></svg>
                                        <p>Free installation support</p>
                                    </div>
                                    <div class="col-6 d-flex policies">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icons" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.527 15.977h3.24c1.278-.021 3.233.652 3.233 3.08C22 21.577 19.588 22 18.766 22H7.946C5.438 22 2 21.491 2 17.17V8.002h20v4.517m-6.473 3.457a.8.8 0 0 1 .273-.58l1.702-1.42m-1.975 2a.8.8 0 0 0 .275.623l1.7 1.383M2.006 7.991l.921-2.3c.748-1.789 1.122-2.683 1.88-3.186S6.537 2 8.48 2h7.02c1.944 0 2.916 0 3.674.504c.758.503 1.131 1.397 1.88 3.185L22 7.995m-10.037.006v-6m-2 10h4" color="currentColor" /></svg>
                                        <p>Return policy</p>
                                    </div>
                                    <div class="col-6 d-flex policies">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icons" width="1em" height="1em" viewBox="0 0 14 14"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.506 13.065a2.7 2.7 0 0 0 3.37-.36l.38-.38a.91.91 0 0 0 0-1.28l-1.6-1.59a.9.9 0 0 0-1.27 0v0a.91.91 0 0 1-1.28 0l-2.55-2.55a.91.91 0 0 1 0-1.28v0a.9.9 0 0 0 0-1.27l-1.54-1.6a.91.91 0 0 0-1.28 0l-.38.38a2.7 2.7 0 0 0-.41 3.37a24.2 24.2 0 0 0 6.56 6.56m5.959-9.893h-2.748a.215.215 0 0 1-.215-.216v0a.22.22 0 0 1 .053-.142l1.96-2.24a.2.2 0 0 1 .154-.07v0c.112 0 .203.092.203.204v3.353M8.85 4.06H6.48v-.505a.89.89 0 0 1 .533-.814l1.32-.577a.866.866 0 0 0-.348-1.66h-.616a.89.89 0 0 0-.838.593" /></svg>
                                        <p>Customer support 24/7</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="postcard__tagbox list-unstyled">
                            <li class="tag__item"><i class="fas fa-tag me-2"></i>Podcast</li>
                            <li class="tag__item"><i class="fas fa-clock me-2"></i>55 mins.</li>
                            <li class="tag__item play blue">
                                <a href="#"><i class="fas fa-play me-2"></i>Play Episode</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
        <div class="card">
            <img src="~/img/empty/empty_1.gif" alt="Product GIF" class="empty_gif_product" />
            <p class="pb-3" colspan="5">Product not found!</p>
        </div>
        }
    </div>

    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2 class="product-title">Suggested <b>Products</b></h2>
                <div class="row">
                    @if (ViewBag.SuggestProduct != null && ViewBag.SuggestProduct.Count > 0)
                    {
                        foreach (var product in ViewBag.SuggestProduct)
                        {
                            <div class="col-6 col-md-3 pb-4">
                                <div class="product-card">
                                    <div class="logo-cart">
										<a asp-controller="Home" asp-action="ProductDetail" asp-route-productId="@product.ProductId">
                                            <img src="~/img/suppliers/@product.Supplier.LogoUrl" alt="logo">
                                            <i class='bx bx-shopping-bag'></i>
                                        </a>

                                    </div>
                                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-productId="@product.ProductId">
                                        <div class="main-images">
                                            <img id="blue" class="blue active" src="~/img/products/@product.ProductImage" alt="blue">
                                        </div>
                                    </a>

                                    <div class="shoe-details">
                                        <a asp-controller="Home" asp-action="ProductDetail" asp-route-productId="@product.ProductId">
                                            <span class="shoe_name">@product.ProductName</span>
                                            <p>@product.ShortDescription</p>
                                        </a>

                                    </div>
                                    <div class="color-price">
                                        <div class="color-option">
                                            <span class="color">Rate:</span>
                                            <div class="stars">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <span class="price_num">$@product.Price</span>
                                            <span class="price_letter">Nine dollar only</span>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <div class="button-layer"></div>
                                        <button>Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No products available</td>
                        </tr>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product:End -->
