@model LaptopCenter.DTO.CheckoutDTO

@{
    ViewBag.Title = "Checkout";
}

<div class="mb-md-0 mb-5">
    <div class="container mt-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row mx-auto justify-content-center text-center">
                    <div class="col-12 mt-3">
                        <nav aria-label="breadcrumb" class="second">
                            <ol class="breadcrumb indigo lighten-6 background-white justify-content-center">
                                <li class="breadcrumb-item font-weight-bold">
                                    <a asp-controller="Home" asp-action="Product" class="black-text text-uppercase">
                                        <span class="mr-md-3 mr-1">BACK TO SHOP</span>
                                    </a>
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </li>
                                <li class="breadcrumb-item font-weight-bold">
                                    <a asp-controller="Cart" asp-action="Index" class="black-text text-uppercase">
                                        <span class="mr-md-3 mr-1">SHOPPING BAG</span>
                                    </a>
                                    <i class="fa fa-angle-double-right text-uppercase" aria-hidden="true"></i>
                                </li>
                                <li class="breadcrumb-item font-weight-bold">
                                    <a asp-controller="Cart" asp-action="CheckOut" class="black-text text-uppercase active-link">
                                        <span class="mr-md-3 mr-1">CHECKOUT</span>
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <form asp-controller="Cart" asp-action="Checkout" method="post">
                    <div class="row d-flex mb-5">
                        <div class="col-6 ">
                            <div class="cart_title mb-5">
                                Your Cart
                                <small> (@Model.CartItems.Count() item(s)) </small>
                            </div>
                            <div class="procces_scroll">
                                @foreach (var item in Model.CartItems)
                                {
                                    <div class="details shadow">
                                        <div class="details__item">
                                            <div class="item__image">
                                                <img src="~/images/Product/@item.Product.Image" alt="Product Image" class="laptop">
                                            </div>
                                            <div class="item__details">
                                                <div class="item__title">
                                                    @item.Product.ProductName
                                                </div>
                                                <div class="item__price">
                                                    $@item.Product.Price
                                                </div>
                                                <div class="item__quantity">
                                                    Quantity: @item.Quantity
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="card mt-3">
                                <div class="card-body">
                                    <div class="d-flex gap-4">
                                        <div class="text-danger">Order Total:</div>
                                        <input type="hidden" asp-for="@Model.OrderTotal" readonly value="@Model.CartItems.Sum(x => x.Product.Price * x.Quantity)" />
                                        <div class="fw-bold">$@Model.CartItems.Sum(x => x.Product.Price * x.Quantity)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="container pt-3">
                                <div class="cart_title mb-3">
                                    Your Personal Information
                                </div>

                                <input type="hidden" asp-for="@Model.CartItems" />

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="@Model.CustomerName" placeholder="Full name" />
                                    <label asp-for="@Model.CustomerName">Full name</label>
                                    <span asp-validation-for="@Model.CustomerName" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="@Model.CustomerPhone" placeholder="Phone number" />
                                    <label asp-for="@Model.CustomerPhone">Phone number</label>
                                    <span asp-validation-for="@Model.CustomerPhone" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea class="form-control" asp-for="@Model.DeliveryAddress" style="height: 100px" placeholder="Address"></textarea>
                                    <label asp-for="@Model.DeliveryAddress">Address</label>
                                    <span asp-validation-for="@Model.DeliveryAddress" class="text-danger"></span>
                                </div>

                                <div class="cart_buttons">
                                    <a asp-action="Product" asp-controller="Home" type="button" class="btn btn-outline-secondary btn-lg">Continue Shopping</a>
                                    <button type="submit" class="btn btn-dark btn-lg">Payment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
